* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: system-ui, -apple-system, Segoe UI, Roboto, Arial;
  background: url("./src/assets/EV-background.png") no-repeat center center
    fixed;
  background-size: cover;
}
